{% from "_helpers.html" import render_field %}
{% extends "user/signin.html" %}

<form method="post">
    {{ form.hidden_tag() }}

    {% block content %}
    {{ render_field(form.name, placeholder="Your name") }}
    {{ render_field(form.email, placeholder="Your email")}}
    {{ render_field(form.age, placeholder="Your age")}}

    {{ super() }}

    {{ render_field(form.password2, placeholder="Repeat your password") }}

    {% endblock %}

    <br>
    <a href = "{{url_for('signin')}}"> Already have an account? Sign in! </a>

</form>
